<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app" class="container">
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <form id="form">
        <div class="holder city">
          <label for="city">Enter a city you want to travel to:</label>
          <input type="text" id="city">
        </div>
        <div class="holder date">
          <label for="datetime">Enter the date you are leaving:</label>
          <input type="date" id="date" required>
        </div>
        <button id="generate" type="submit">Submit</button>
      </form>
      <div class="holder entry">
        <h2 id="weather-info"></h2>
        <div id="entryHolder">
          <div id="country"></div>
          <div id="temp"></div>
          <div id="description"></div>
          <div id="days-counter"></div>
          <div id="city-img">
            <figure>
              <img alt="">
              <figcaption></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="author">made with <span>&hearts;</span> by Yamen</div>
      <div class="date-made">All rights reserved &copy; 7/22/2020</div>
    </footer>
  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
</body>

</html>