/* import the main font */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

/* import Lobster font */
@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap);

/* varibles */
$main-color: #bd7848;
$sub-color: #333;
$font-main-color: #fff;
$font-lobster: "Lobster", cursive, sans-serif;

/* global */
body {
    font: 16px/1.4 "Roboto", sans-serif;
    margin: 0;
}

h1, #form, .entry, footer {
    padding: 14px;
}


/* pages's container */
#app {
    display: grid;
    grid-template-rows: 16vh minmax(74vh, auto) minmax(10vh, auto);
    color: $font-main-color;
}


/* header */
header {
    align-self: center;
    color: $main-color;
}


/* main */
main {
    background-color: $main-color;
    display: grid;
    grid-template-rows: 230px auto;;

    h2 {
        margin-top: 0;
    }

    #form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;

        input, button {
            display: block;
            margin-top: 5px;
            border-radius: 4px;
            border: #333;
            height: 20px;
            padding: 4px 8px;
            width: 200px;
        }

        button {
            width: 100px;
            height: 40px;
            background-color: #23191173;
            color: $font-main-color;
            font-weight: bold;

            &:hover {
                color: $main-color;
                background-color: $font-main-color;
            }
        }
    }

    #city-img img {
        max-width: 100%;
    }
}


/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $sub-color;

    span {
        color: $main-color
    }
}


/* media query */ /* the dimensions are from bootstrap */

$phones: 768px;
@media (min-width: $phones) {
    .container {
        width: 768px;
        margin: auto;
    }

    h1 {
        font-family: $font-lobster;
        font-size: 50px;
    }
}