/* import the main font */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

/* import Lobster font */
@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap);

/* varibles */
$main-color: #bd7848;
$sub-color: #333;
$font-main-color: #fff;
$font-lobster: "Lobster", cursive, sans-serif;

/* global */
body {
    font: 16px/1.4 "Roboto", sans-serif;
    margin: 0;
    color: $font-main-color;
}


#app {
    display: grid;
    grid-template-rows: 14vh minmax(76vh, auto) 10vh;
}

h1, #form, .entry, footer {
    padding: 14px;
}

/*#app {
    display: grid;
    grid-template-rows: 20vh minmax(50vh, 70vh) 10vh;
}*/

header {
    align-self: center;
    color: $main-color;
}


/*h1 {
    font-family: $font-lobster;
    font-size: 50px;
}*/


main {
    background-color: $main-color;
    display: grid;
    grid-template-rows: 230px auto;;

    h2 {
        margin-top: 0;
    }

    #form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;

        input, button {
            margin-top: 5px;
            border-radius: 4px;
            border: #333;
            height: 20px;
            padding: 4px 8px;
            width: 200px;
        }

        button {
            width: 100px;
            height: 40px;
            background-color: #23191173;
            color: $font-main-color;
            font-weight: bold;

            &:hover {
                color: $main-color;
                background-color: $font-main-color;
            }
        }
    }
}


footer {
    background-color: $sub-color;
}